{% extends "base.html" %}
{% block content %}

{% for message in get_flashed_messages() %}
    <div style="color:blue;padding:10px;">{{ message }}</div>
{% endfor %}

<table style="margin-top:20px;">
    <tr>
        <th>Cloze Sentence:</th>
        <td colspan="{{ cloze_sentence.missing_words.split('\n') | length }}">
            {{ cloze_sentence.clozed_sentence }}
        </td>
    </tr>
    <tr>
        <th>Original Sentences:</th>
        <td colspan="{{ cloze_sentence.missing_words.split('\n') | length }}">
            {% for sentence in cloze_sentence.original_sentences.split('\n') %}
                {{ sentence }}<br>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>Missing Words:</th>
        <td>
        {% for word_list in cloze_sentence.missing_words.split('\n') %}
            {% if loop.index0 < cloze_sentence.missing_words.split('\n')|length-1 %}
                {% for word in word_list.split('/') %}
                    {% if loop.index0 < word_list.split('/')|length-1 %}
                        {{ word }} /
                    {% else %}
                        {{ word }}, 
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for word in word_list.split('/') %}
                    {% if loop.index0 < word_list.split('/')|length-1 %}
                        {{ word }} /
                    {% else %}
                        {{ word }} 
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
        </td>

    </tr>
    <tr>
        <th>Target Words: </th>
        <td>
            {% for word in cloze_list.target_words.split('\n') %}
                {% if loop.index0 < cloze_list.target_words.split('\n')|length-1%}
                    {{ word }}, 
                {% else %}
                    {{ word }}
                {% endif %}
            {% endfor %}
        </td>
</table>

<table style="background-color:lightgray;">
    <tr>
        <td colspan="2"><h2>Edit This Sentence:</h2></td>
    </tr>
    <tr>
        <td colspan="2">To add a new original sentence, press ENTER to start on a new line. <br>
                        Only change the target word and keep everything else the same.</td>
    </tr>
    <form method="POST" action="{{ url_for('edit_cloze_sentence', cloze_list_id=cloze_list.id, cloze_sentence_id=cloze_sentence.id) }}" 
                        onsubmit="return confirmSentenceEdit();" style="background-color:lightgray">                
        {{ edit_cloze_sentence_form.hidden_tag() }}
            <tr>
                <th>{{ edit_cloze_sentence_form.clozed_sentence.label }}</th>
                <td>{{ edit_cloze_sentence_form.clozed_sentence(size=75) }}</td>                
            <tr>
                <th>{{ edit_cloze_sentence_form.original_sentences.label }}</th>
                <td>{{ edit_cloze_sentence_form.original_sentences(rows=3, cols=75) }}</td>
            </tr>
            <tr>
                <td></td>
                <td>{{ edit_cloze_sentence_form.submit() }}</td>
            </tr>                 
    </form>
</table>  


{% endblock %}