{% extends "base.html" %}
{% block content %}




<h2 id="error-lists">Error Lists:</h2>
<a href="#gap-fill-lists" style="display:inline-block">
    Go to Gap-Fill Lists
</a>

<div class="delete-div">
    <form class="delete-form" method="POST" action="{{ url_for('delete_lists') }}" id="deleteListsForm">
        <input type="hidden" id="selected-lists" name="selected_list_ids">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="button" onclick="submitListDeleteForm('errorList');">Delete Selected Lists</button>
    </form>
</div>

{% for list in lists %}
<div class="entry-container">
    <table style="width:100%;">
        <tr>
            <th style="width:45%;text-align:left;">
                <a class="list-link" href="{{ url_for('error_list', list_id=list.id) }}" target="_blank" title="Show Items">
                    {{ list.list_name }}
                </a>
            </th>
            <td rowspan="2" style="width:45%;">
                <a class="manage-link edit-icon" href="javascript:;" onclick="showForm('error-form-cell-{{ list.id }}');" title="Rename"></a>
                <a class="manage-link trash-icon" href="{{ url_for('delete_list', list_id=list.id) }}" onclick="return confirmListDelete();" title="Delete"></a>
            </td>
            <td rowspan="2" style="width:10%;">
                <input type="checkbox" name="list_checkbox" value="{{ list.id }}" class="error-list-checkbox">
            </td>
        <tr>
            <td>Number of sentences: {{ list.list_items | length }}</td>
        </tr>
        <tr id="error-form-cell-{{ list.id }}" style="display: none;">
            <form method="POST" action="{{ url_for('edit_list', list_id=list.id) }}" onsubmit="return confirmListRename();">
                {{ edit_list_form.hidden_tag() }}
                {{ edit_list_form.csrf_token }}
                <td colspan="2">
                    {{ edit_list_form.list_name.label }}
                    {{ edit_list_form.list_name(value=list.list_name, size=25) }}
                    {{ edit_list_form.submit() }}
                </td>
            </form>
        </tr>
    </table>
</div>
{% endfor %}

<h2 id="gap-fill-lists">Gap-Fill Lists:</h2>
<a href="#error-lists" style="display:inline-block">
    Go to Error Lists
</a>

<div class="delete-form-div">
    <form class="delete-form" method="POST" action="{{ url_for('delete_cloze_lists') }}" id="deleteClozeListsForm">
        <input type="hidden" id="selected-cloze-lists" name="selected_cloze_list_ids">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="button" onclick="submitListDeleteForm('clozeList');">Delete Selected Lists</button>
    </form>
</div>

{% for list in cloze_lists %}
<div class="entry-container">
    <table style="width:100%;">
        <tr>
            <th style="width=45%;text-align:left;">
                <a class="list-link" href="{{ url_for('cloze_list', cloze_list_id=list.id) }}" target="_blank" title="Show Items">
                    {{ list.list_name }}</a>
                </th>
            <td rowspan="2" style="width:45%;">
                <a class="manage-link edit-icon" href="javascript:;" onclick="showForm('cloze-form-cell-{{ list.id }}')"
                title="Rename"></a>
                <a class="manage-link trash-icon" href="{{ url_for('delete_cloze_list', cloze_list_id=list.id) }}" 
                onclick="return confirmListDelete();" title="Delete"></a>
            </td>
            <td rowspan="2" style="width:10%">
                <input type="checkbox" name="list_checkbox" value="{{ list.id }}" class="cloze-list-checkbox">
            </td>    
        </tr>
        <tr>
            <td>Number of sentences: {{ list.cloze_sentences | length }}</td>
        </tr>
        <tr id="cloze-form-cell-{{ list.id }}" style="display: none;">
            <form method="POST" action="{{ url_for('edit_cloze_list', cloze_list_id=list.id) }}" onsubmit="return confirmListRename();">
                {{ edit_cloze_list_form.hidden_tag() }}
                {{ edit_cloze_list_form.csrf_token }}
                <td colspan="2">
                    {{ edit_cloze_list_form.list_name.label }}
                    {{ edit_cloze_list_form.list_name(value=list.list_name, size=75) }}
                    {{ edit_cloze_list_form.submit() }}
                </td>
            </form>
        </tr>
    </table>
</div>
{% endfor %}

<script>

    function changeView() {
        var errorLists = document.getElementById('error-lists');
        var gapFillLists = document.getElementById('gap-fill-lists');
        if (gapFillLists.style.display === 'none') {
            gapFillLists.style.display = 'block';
            errorLists.style.display = 'none';
        } else {
            gapFillLists.style.display = 'none';
            errorLists.style.display = 'block';
        }
    }


    function showErrorListForm(id) {
        var formCell = document.getElementById('error-form-cell-' + id);
        if (formCell.style.display === 'none') {
            formCell.style.display = 'table-row';
        } else {
            formCell.style.display = 'none';
        }
    }

    function showClozeListForm(id) {
        var formCell = document.getElementById('cloze-form-cell-' + id);
        if (formCell.style.display === 'none') {
            formCell.style.display = 'table-row';
        } else {
            formCell.style.display = 'none';
        }
    }
    
    
    
    
    
    

</script>

{% endblock %}