{% extends "base.html" %}
{% block title %}Choose the Correct Sentence{% endblock %}

{% block head %}
    <style>
        body {
            background-color: darkgray;
        }
    </style>
{% endblock %}

{% block content %}


<div class="title-div">
    <h2 class="exercise-title">Choose the Correct Sentence</h2>
</div>

<div id="exercise-div">
    <div class="exercise-text" id="sentence-options">
        <p>
            <a class="sentence-option" href="#" id="a-link" onclick="chooseTheCorrectSentence('a', {{ correct_first | tojson }});">
                A: {{ sentence1 }}
            </a>
        </p>
        <p>
            <a class="sentence-option" href="#" id="b-link" onclick="chooseTheCorrectSentence('b', {{ correct_first | tojson }});">
                B: {{ sentence2 }}
            </a>
        </p>
        <p>(press A or B)</p>
    </div>

    <div class="exercise-text" id="colored-sentences">
        {% if correct_first %}
            <p id="colored-sentence-a" class="correct-sentence">A: {{ sentence1 }}</p>
        {% else %}
            <p id="colored-sentence-a" class="incorrect-sentence">A: {{ sentence1 }}</p>
        {% endif %}

        {% if correct_first %}
            <p id="colored-sentence-b" class="incorrect-sentence">B: {{ sentence2 }}</p>
        {% else %}
            <p id="colored-sentence-b" class="correct-sentence">B: {{ sentence2 }}</p>
        {% endif %}
    </div>
    <div id="feedback">
        <p id="feedback-message"></p>
    </div>
</div>


<div class="info-div">
    <p class="info">
        <span class="info-span"><b>List:</b> {{ list.list_name }}</span>
        <span class="info-span"><b>Showing:</b> Item {{ index + 1 }} of {{ list_length }}</span>
        <span class="info-span" id="score"></span>
        <a class="manage-link" href="#" onclick="resetSession();">Reset my score</a>
    </p>
</div>

<form id="next" onsubmit="storeValues();" method="POST" action="{{ url_for('exercise', exercise_id=exercise_id, list_id=list.id, index=index )}}">
    <input type="hidden" id="result" name="result" value="">
    <button id="next-button" type="submit" name="action" value="save">Next</button><br>
    <span style="color:white;">(or press >)</span>
</form>

<table class="exercise-display-table" id="error">  
    <tr>
        <th>Error:</th>
        <td class="incorrect-sentence">{{ error['incorrect_sentence'] }}</td>
        <td rowspan="4">
            <a class="manage-link" href="{{ url_for('edit', error_id=error['id']) }}" target="_blank">Edit</a>
        </td>
    </tr>
    <tr>
        <th>Correction:</th>
        <td class="correct-sentence">
            {% for correction in error['corrections'] %}
                {{ correction }}<br>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>Topic(s): </th>
        <td class="topic-name">
            {% if error['topics'] %}
                {% for topic in error['topics'] %}
                    {{ topic['topic_name'] }}<br> 
                {% endfor %}
            {% else %}
                (none)
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Rule(s): </th>
        <td class="rule-name">
            {% if error['rules'] %}
                {% for rule in error['rules'] %}
                    {{ rule['rule_name'] }}<br>
                {% endfor %}
            {% else %}
                (none)
            {% endif %}
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <form onsubmit="storeValues();" method="POST" action="{{ url_for('exercise', exercise_id=exercise_id, list_id=list.id, index=index )}}">
                <button class="exercise-manage-button" onclick="return confirmItemRemoval();" type="submit" name="action" value="delete">Don't show me this sentence again</button>
            </form>
        </td>
    </tr>
</table>

<script src="{{ url_for('static', filename='js/exercises.js') }}"></script>

{% endblock %}