<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Corrections{% endblock %}</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    {% block head %}{% endblock %}
</head>

<body>

    <div class="navbar">
        <a class="navlink" href="{{ url_for('index') }}">Add</a>
        <a class="navlink" href="{{ url_for('topics') }}">Topics</a>
        <a class="navlink" href="{{ url_for('display_by_topic') }}">Display by Topic</a>
        <a class="navlink" href="{{ url_for('rules') }}">Rules</a>
        <a class="navlink" href="{{ url_for('exercises') }}">Exercises</a>
        <a class="navlink" href="{{ url_for('lists') }}">Lists</a>
        <a class="navlink" href="{{ url_for('register_student') }}">Students</a>
        <a class="navlink" href="{{ url_for('register_teacher') }}">Teachers</a>
        <a class="navlink" href="{{ url_for('logout') }}" style="text-align:right;">Log Out</a>
    </div>

    {% for message in get_flashed_messages() %}
        <div class="flashed-message">{{ message }}</div>
    {% endfor %}

    {% block content %}
    {% endblock %}

<script type="module" src="https://md-block.verou.me/md-block.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>