{% extends "base.html" %}
{% block title %}Rules{% endblock %}

{% block content %}



<h2>Rules By Topic</h2>

<form method="POST" action="{{ url_for('rules') }}" id="selectTopicForm">
    {{ select_topic_form.hidden_tag() }}
    {{ select_topic_form.selected_topic.label }}
    {{ select_topic_form.selected_topic(onchange="submitForm()") }}
</form>

{% if topic.topic_name %}
    <h3>{{ topic.topic_name }}</h3>
    {% else %}
    <h3>Recent</h3>
{% endif %}

{% for rule in rules %}
<div class="entry-container">
    <table>
        <tr>
            <th>Rule #{{ rule.id }}</th>
            <td class="rule-name">
                <a class="rule-link" href="{{ url_for('rule', rule_id=rule.id) }}" target="_blank">
                    {{ rule.rule_name }}
                </a>
            </td>
            <td>
                <button class="manage-link" onclick="showForm('{{ rule.id }}')">Expand</button>
            </td>
            <td>
                <a class="manage-link" href="{{ url_for('edit_rule', rule_id=rule.id) }}" target="_blank">Edit</a>
            </td>
            <td>
                <a class="manage-link" href="{{ url_for('delete_rule', rule_id=rule.id) }}" 
                        onclick="return confirmRuleDelete();">Delete</a>
            </td>
        </tr>
    </table>
    <table id="{{ rule.id }}" style="display:none;">
        <tr>
            <th style="width:10%;">Explanation:</th>
            <td style="width:90%;">
                <div style="white-space: pre-wrap;">{{ rule.rule_text }}</div>
            </td>
        </tr>
        <tr>
            <th>Topic(s):</th>
            <td>
                {% for rule_topic in rule.rule_topics %}
                    {{ rule_topic.topic.topic_name }}
                {% endfor %}
            </td>
        </tr>
    </table>
</div>
{% endfor %}


{% endblock %}