{% extends "base.html" %}
{% block title %}Topics{% endblock %}
{% block content %}


<h2>Topics:</h2>

<button onclick="showForm('add-topic-form')">Add New Topic</button>

<form class="topic-form" id="add-topic-form" method="POST", action="{{ url_for('add_topic') }}" style="display:none;">
    {{ add_topic_form.hidden_tag() }}
    {{ add_topic_form.topic_name.label }}
    {{ add_topic_form.topic_name(size=50) }}
    {{ add_topic_form.submit(value='New Topic Name') }}
</form>

<ul>
{% for topic in topics %}
    <li class="topic-list-items">
        {{ topic.topic_name }}
        <a class="manage-link edit-icon" href="#" onclick="showForm('form-cell-{{ topic.id }}')"
        title="Edit"></a>
        <a class="manage-link trash-icon" href="{{ url_for('delete_topic', topic_id=topic.id) }}" 
        onclick="return confirmTopicDelete();" title="Delete"></a>
        <form class="topic-form" id="form-cell-{{ topic.id }}" method="POST" style="display:none;"
        action="{{ url_for('edit_topic', topic_id=topic.id) }}" onsubmit="return confirmTopicEdit();">
            {{ edit_topic_form.hidden_tag() }}
            {{ edit_topic_form.topic_name.label }}
            {{ edit_topic_form.topic_name(value=topic.topic_name, size=50) }}
            {{ edit_topic_form.submit() }}
        </form>
    </li>
{% endfor %}
</ul>


{% endblock %}