{% extends "base.html" %}
{% block title %}Topics{% endblock %}
{% block content %}


<h2>Topics:</h2>

<ul>
{% for topic in topics %}
    <li class="topic-list-items">
        {{ topic.topic_name }}
        <a class="manage-link" href="#" onclick="showForm('form-cell-{{ topic.id }}')">Edit</a>
        <a class="manage-link" href="{{ url_for('delete_topic', topic_id=topic.id) }}" onclick="return confirmTopicDelete();">Delete</a>
        <table id="form-cell-{{ topic.id }}" style="display: none;">
            <form method="POST" action="{{ url_for('edit_topic', topic_id=topic.id) }}" onsubmit="return confirmTopicEdit();">
                <tr>
                {{ edit_topic_form.hidden_tag() }}
                    <td>{{ edit_topic_form.topic_name.label }}</td>
                    <td>{{ edit_topic_form.topic_name(value=topic.topic_name, size=75) }}</td>
                </tr>
                <tr>
                    <td>{{ edit_topic_form.submit() }}</td>
                </tr>
            </form>
                </td>
            </tr>   
        </table>   
    </li>
{% endfor %}
</ul>


{% endblock %}